body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
#details {
  display: flex;
  justify-content: space-around;
  background-color: red;
}

nav {
  justify-items: space-around;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
#featured-property img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#featured-property p,
#featured-property figcaption {
  width: 800px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
